@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------Colours----------*/

.bg-color-name-title {
    background-color: #676767; /*Charcoal background*/
}

.bg-color-personal-info,
.bg-color-conferences {
    background-color: #f4f4f4; /*pale grey background colour*/
}

.bg-color-three-reasons,
.bg-color-skills,
.bg-color-contact,
.bg-color-groups {
    background-color: #ffffff; /*'About Me' set to white background colour*/
}

.bg-color-Work-History,
.ul-menu-color-Resume {
    background-color: #205e6b; /*Dark Green*/
}

.ul-menu-color-Home {
    background-color: #765ec2; /*Purple*/
}

.ul-menu-color-Contact {
    background-color: #2794a9; /*Teal*/
}

.ul-menu-color-Interests {
    background-color: #a96e5b; /*Cappucino Brown*/
}

.ul-menu-color-GitHub {
    background-color: #50394c; /*Dark Purple*/
}

.ul-menu-color-DownloadCV {
    background-color: #878f99; /*Medium Grey*/
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #525252;
    color: #555555;
}

/*------------Special Paddings/Margins/Text----------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #fafafa; /*off-white*/
}

.inline-block {
    display: inline-block; /*Allows nice spacing of the content across the footer*/
}

.row-table {
    display: table; /*Columns will remain of equal height, regardless of content*/
}

ul {
  /* removes bullet points from unordered list */
  list-style-type: none;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 1.5625rem;
    margin-bottom: 2.5rem;
}

/*------------Heading----------*/

header {
    margin: 0;
}

.heading {
    margin-left: 3.125rem;
}

.logo {
    background: url("../images/paul.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #676767; /*Dark Grey*/
    min-height: 22.5rem;
    transition: all .5s ease-in-out; /*animation appears on different browsers*/
    -o-transition: all .5s ease-in-out; /*as above*/
    -moz-transition: all .5s ease-in-out; /*as above*/
    -webkit-transition: all .5s ease-in-out; /*as above*/
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 2.875rem;
    margin-top: 3.125rem;
    color: #ffffff; /*white*/
}

.title {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 1.75rem;
    margin-top: 1.25rem; /*create extra space from name*/
    margin-bottom: 5.625rem;
    color: #ffffff; /*white*/
}

#nav {
    margin: 0; /*The 4 elements now matches the shape of the title
    with no overlap */
}

#nav li {
    padding: 0; /*Targets zero padding to all li Class commands in html file*/
}

.menuitem {
    height: 7.5rem;
    width: 7.5rem;
    text-align: center;
    padding: 0;
}

/*The anchor 'a' below creates a clickable area for the user*/
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff; /*white*/
    height: 7.5rem;
}

.menuitem a i {
    padding-top: 1.375rem;
    display: block; /*Occupy its parent container*/
    color: #fafafa; /*off-white*/
    font-size: 1.625rem;
}

.menuitem span {
    display: block; /*Occupy its parent container*/
    width: 100%;
    padding-top: 0.3125rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem; /*Change from default font size*/
    font-weight: 300;
    letter-spacing: 0.125rem;
}

/*------------Hover.css----------*/

.hvr-sweep-to-bottom:before {
    background: rgba(0,0,0,0.2); /*Background colour change from blue to faint grey*/
    height: 7.5rem;
}

/*------------Footer-------------*/

footer {
    background-color: #525252; /*dark grey*/
    color: #fafafa; /*off-white*/
}

footer .cv-pdf i {
    color: #fafafa; /*off-white*/
    text-align: center;
    font-size: 1.125rem; /*increase font size from default size*/
    padding-left: 0.3125rem;
}

footer .cv-pdf i:hover {
    color: #2794A9; /*Teal*/
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out; /*Windows*/
    -webkit-transition: all 0.35s ease-in-out; /*Apple*/
}

.social-links {
    padding-bottom: 0.9375rem;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%; /*Enables creation of circle where width & height of same value*/
    font-size: 0.8125rem; /*Enables icon to sit within border*/  
    line-height: 0.4375rem;
    text-align: center;
    color: #fafafa; /*off-white*/
    background: #8f8f8f; /*pale grey*/
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out; /*Windows*/
    -webkit-transition: all 0.35s ease-in-out; /*Apple*/
}

.social-links li a i:hover {
    background: #2794A9; /*Teal*/
}

#footer-details {
    margin: 3.125rem;
}

/*------------Three Reasons-------------*/

.three-reasons-icon {
    font-size: 1.625rem;
    color: #765EC2; /*Same colour as menu 'Home' button*/
}

.three-reasons-heading {
    margin-bottom: 0.9375rem;
}

/*------------Personal Info-------------*/

.personal-info-item {
    margin-bottom: 1.25rem;
    display: block; /*occupy entirety of horizontal space*/
    clear: both; /*no items can appear either side of the item*/
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 0.5rem;
}

.personal-info-item .key p,
.personal-info-item .value p {
   margin: 0;
}

.personal-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 1.125rem; /*set to 60% of width. Width + margin = 90%*/
    padding-top: 0.125rem;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    display: inline-block; /*Allows for the key (Name, etc) to sit to the left*/
    position: relative;
    width: 60%;
}

/*------------Skills-------------*/

.progress {
    position: relative;
    height: 25px;
}

.progress-type {
    position: absolute;
    left: 0px; /*text moves to left*/
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa; /*off-white*/
    background-color: rgba(25,25,25,0.2);
}

.progress-section {
    margin: 40px 20px;
}

.fa-tv,
.fa-cogs,
.fa-database { /* Fontawesome 5 icons resizing in 'My Skill's section */
    font-size: 1.5rem;
}

/*---------Skills Flip Cards-----------*/

.flip-card {
  background-color: transparent;
  width: 125px;
  height: 125px;
  border: 1px solid #ddd;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*------------Work History-------------*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 0.0625rem solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    
}

.timeline-item::before {
    content: attr(dates);
    position: absolute; /*fix the date just above the employers location*/
    left: 2.5em; /*further refines positioning of the dates*/
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -0.375rem; /*Negative value allows disc to sit out on left hand border*/
    border-radius: 0.75rem; /*creates a disc shape, feeding from width & height 12px*/
    content: ""; /*No content other then the border itself*/
    background: #fafafa; /*off-white*/
}

.history-heading {
    color: #fafafa; /*off-white*/
    margin-bottom: 3.125rem;
}

.history-items {
    margin-bottom: 1.875rem;
}

/*------------Contact-------------*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
}

.center-form {
    padding-top: 0.625rem;
    margin: 0 auto;
    max-width: 70%; /*width reduced to 70% as name field not required at 100%*/
}

button[type="submit"]{
    margin-top: 0.9375rem;
    margin-bottom: 1.25rem;
    background-color: #205e6b; /*Dark Green*/
    color: #fafafa; /*off-white*/
} 

/*---------------Map--------------------*/

div#map {
    min-height: 22.5rem;
}

/*------------Media Queries-------------*/

@media (min-width: 992px) {
.center-form {
    padding-top: 1.875rem; /*Center-Form code adjusted for Mobile view*/
    min-height: 15rem;
    margin: 0 auto;
    max-width: 50%; /*width reduced from 70% to 50%
    as name field not required at 100%*/
}
}