/*-------- Toggle Function ----------*/

.toggle {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.active-toggle {
  display: inline-block;
  cursor: pointer;
  border: 3px solid #333333;
  border-radius: 0.5rem;
  width: 5rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  background: #333333;
  color: #F2F2F2;
}

.dark-resume .active-toggle {
    border: 3px solid #BB86FC;
    color: #fff;
    background: none; 
}


